<table>
  <form method="get" action="/quizes">
    <p>Busqueda: </p><input type="text" name="search" placeolder="buscar preguntas">
  </form>
  <% var i; for (i=0; i < quizes.length; i++) { %>
    <tr><td><a href="quizes/<%=quizes[i].id %>"><%=quizes[i].pregunta %></a></td></tr>
  <% } %>
</table>
