<form method="get" action="/quizes/<%= quiz.id %>/answer">
    <p>Pregunta: <%= quiz.pregunta %></p>
    <p>Tema: <%= quiz.tema %> </p>
    <input type="text" name="respuesta" placeholder="introduce respuesta" value="">
    <input type="submit" value="Enviar">
</form>
